body {
  margin: 0;
  padding: 0;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87b5b5;
}

.App {
  text-align: center;
}

  #editor, #preview {
    box-shadow: 0 0 12px 0px #000;
    min-height: 200px;
  }

  textarea{
    min-height: 200px;
    outline: none;
    resize: vertical;
  }